.uclogotop{
  margin-top: 20px;
}

.uctopnav{
  height: 150px;
  background-color:#FFFF;
}
.MuiAppBar-colorPrimary{
  background-color: #FFF;
  color: #000000;

}
.MuiPaper-root MuiAppBar-root MuiAppBar-positionStatic MuiAppBar-colorPrimary topnav MuiPaper-elevation4{
  background-color: #FFF;
  color: #000000;
}
.ucbutt{
  display: inline;
  margin-left: 600px;
  margin-top: 20px;
  background: #1082CB;
  color: white;
  border: 1px solid #1082CB;
  border-radius: 3px;
}
.ucbutt:hover{
    background: #38b1ff;
    color: white;
    border: 2px solid #1082CB;
}
.ucshifts{
  margin-top: 30px;
  margin-left: 30px;
  color: black;
}
.ucbell{
  margin-top: 20px;
  margin-left: 30px;
}
.ucac{
  margin-left: 30px;
  margin-top: 10px;
}

.ucGroups{
  width: 80%;
}

.ucab{
  color: #1082CB;
  font-family: 'century-gothic';
}

.ucpic{
  height: 50px;
}

.ucavatar{
  margin-top: 80px;
  margin-left: 60px;
  width: 130px;
}

.ucp{
  font-family: 'century-gothic';
  margin-bottom: 10px;
}

.uchead{
  font-size: 25px;
  margin-left: 80px;
  margin-top: 2px;
}
.uclist{
  margin-left: 50px;
  font-size: 15px;
}

.ucupcoming{
  padding:12px;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 10px;
}
.ucup{
  margin-bottom: 10px;
  display:inline;
  align:center;

}
.ucleft{
  display:inline;

}
.ucright{
  display:inline;

}

.uchadnt{
  text-align: center;
  font-size: 20px;
}
