h1{
  font-size: 24px;
  color: #1082CB;
  font-family: 'century-gothic';
  font-weight: bolder;
  display: inline;
}

.one{
  display:inline;
  font-size: 24px;
  font-weight: 200;
  font-family: 'century-gothic';
}

h2{
  font-size: 24px;
  font-weight: 200;
  font-family: 'century-gothic';
}

.logo{
  width:100%;
  height: 90%;
  border-radius: 6px;
  margin-top: 30px;
}

.figcaption{
  position:relative;
  font-family: 'century-gothic';
}

.butt1{
      background-color: rgb(0, 189, 76);
      color: white;
      border: 1px solid rgb(0, 189, 76);
      margin-left: 30px;
      font-family: 'century-gothic ';
      border-radius: 8px;
      height:"2.0rem";
      width:80%;
      padding-bottom: 10px;
}

.arrow{
  border: none;
  width: 80%;
  padding: 12px;
  padding-top: 10px;
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-image: url('map-pin 1.png');
  background-size: 15px 15px;
  background-position: left center;
}

#basic-select select {
/* Appearance: none will hide the default arrow */
appearance: none;
/* Best to include the browser prefix for cross-browser compatibility */
-webkit-appearance: none;
-moz-appearance: none;
}

.arrow2{
  border: none;
  width: 80%;
  padding: 12px;
  padding-top: 10px;
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-image: url('settings.png');
  background-size: 15px 15px;
  background-position: left center;
}

.two{
  font-family: 'century-gothic ';
  font-size: 29px;
}

.three{
  font-family: 'century-gothic ';
  font-size: 20px;
}

.butt2{
  background-color: white;
  color: #1082CB;
  border: 2px solid #1082CB;
  font-weight: bolder;
  font-family: 'century-gothic ';
  border-radius: 3px;
  height: 3.0rem;
}

.butt3{
  background-color: white;
  color: #1082CB;
  border: 2px solid #1082CB;
  font-weight: bolder;
  font-family: 'century-gothic ';
  border-radius: 3px;
  height: 3.0rem;
  width: 100%;

}

.butt4{
  margin-left: 20px;
  height: 3.0rem;
  width:100%;
  background: #38b1ff;
  color: white;
  border: 2px solid #38b1ff;
  border-radius: 3px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #FFFFFF;
  height: 200px;
  width: 100%;

}

.logo1{
  height: 200px;
  width: 50%

}
.gallery-cell {
  width: 120%;
  height: 300px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
  content: counter(gallery-cell);
  line-height: 2px;
}
