p{
  font-family: century-gothic;
}
.logotop{
  margin-top: 20px;
}

.topnav{
  height: 90px;
  background-color:#FFFF;
}
.MuiAppBar-colorPrimary{
  background-color: #FFF;
  color: #000000;

}
.MuiPaper-root MuiAppBar-root MuiAppBar-positionStatic MuiAppBar-colorPrimary topnav MuiPaper-elevation4{
  background-color: #FFF;
  color: #000000;
}
.butt3{
  display: inline;
  margin-left: 650px;
  margin-top: 20px;
  background: #1082CB;
  color: white;
  border: 1px solid #1082CB;
  border-radius: 3px;
}
.butt3:hover{
    background: #38b1ff;
    color: white;
    border: 2px solid #1082CB;
}
.shifts{
  margin-top: 30px;
  margin-left: 30px;
  color: black;
}
.bell{
  margin-top: 20px;
  margin-left: 30px;
}
.ac{
  margin-left: 30px;
  margin-top: 10px;
}
.sort{
  font-size: 18px;
}

.arrow{
  margin-top: 25px;
  font-family: century-gothic;
  margin-bottom: 30px;
}
.MuiInputBase-input{
 margin-top: 1px;
}

.date{
  margin-top: 50px;
}
.job{
  display: inline-block;
}

.page{
  display: inline-block;
  margin-left: 260px;
  font-family: century-gothic;
}

.MuiCardContent-root{
  background-color: #F1FAFF;
  margin-top: 15px;
  border-radius: 2px;
  padding: 10px;
}

.page1{
  display: inline-block;
  margin-left: 320px;
  margin-top: 10px;
}
.h2{
  color: #1082CB;
  display: inline-grid;
  font-family: century-gothic;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 0.5px;
}
.popo{
  margin-top: 1px;
  margin-bottom: 25px;
  font-size: 14px;
}
.bookmark{
  display: inline-grid;
  float: right;


}
.dou{
  display: inline-block;
  font-size: 14px;
}

.calendar{
  display:inline-block;
  margin-left: 1px;
  margin-right: 5px;
}

.time{
  display: inline-block;
  margin-top: 13px;
  font-size: 14px;
}

.clock{
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
  float:left;
}

.head{
  display: inline;
  float:right;
  color: #00BD4C;
  margin-top: 0.5px;
}

.settings{
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
}

.specs{
  display: inline-block;
  margin-top: 2px;
  font-size: 14px;
  padding-left: 2px;
  margin-left: auto;
}

.butt{
  display: inline;
  margin-left: 250px;
  background: #1082CB;
  color: white;
  border: 1px solid #1082CB;
  border-radius: 3px;
}
.butt:hover{
    background: #38b1ff;
    color: white;
    border: 2px solid #1082CB;
}
.butt2{
  display: inline;
  float:right;
  margin-top: 0.5px;
  background-color: #ffffff;
  outline: none;
}

.MuiButton-root{
  color: #1082CB;
}

.h4{
  color: #1082CB;
  font-family: century-gothic;
  font-size: 18px;
}

.filter{
  width: 70%;
  margin-left: 100px;
}

.radio{
  display:inline;
  margin-top: 10px;
  font-size: 14px;
  flex-grow: row;
  align-self: flex-start;
  justify-content: space-between;
}

.rad{
  display:inline;
  align-self: flex-end;
  justify-content: flex-end;
}

.radio1{
  display:inline;
  margin-top: 10px;
  font-size: 14px;
}

.rad1{
  display:inline;
  margin-left: 50px;
}

.radio2{
  display:inline;
  margin-top: 10px;
  font-size: 14px;
}

.rad2{

    display:inline;
    margin-left: 50px;
  }

.radio3{
  display:inline;
  margin-top: 10px;
  font-size: 14px;
}

.rad3{
  display:inline;
  margin-left: 50px;
}

.radio4{
  display:inline;
  margin-top: 10px;
  font-size: 14px;
}

.rad4{
  display:inline;
  margin-left: 50px;
}

.radio5{
  display:inline;
  margin-top: 10px;
  font-size: 14px;
}

.rad5{
  display:inline;
  margin-left: 50px;
}

.Sliders{
  margin-top: 5px;
  display: inline;
  float: left;
}
.po{
  margin-left: 5px;
  font-size: 24px;
  font-weight: 100;
  font-family: century-gothic;
  display: inline;
}
.pa{
  font-size: 14px;
  font-family: century-gothic;
  display: inline;
  float: right;
  color: #1082CB;
}
.MuiButton-root{
  color:#1082CB;
}

.input{
  margin-top: 10px;

}
.MuiAutocomplete-inputRoot[class*="MuiInput-root"] .MuiAutocomplete-input:first-child{
  marginTop: theme.spacing(0);
}
#basic-select Autocomplete {
  margin-top: 10px;
/* Appearance: none will hide the default arrow */
appearance: none;
/* Best to include the browser prefix for cross-browser compatibility */
-webkit-appearance: none;
-moz-appearance: none;
}
.Autocomplete::-webkit-calendar-picker-indicator {
  display: none;
  appearance: none;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 0em;
    height: 0em;
    display: none;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.footer{
  background-color: #F1FAFF;
  height: 50vh;
  width: 100%;
  margin-top: 15px;
}

.logo{
  margin-top: 30px;
  margin-left: 100px;
}

.about{
  margin-left: 30px;
}
.fop{
  margin-top: 45px;
  font-size: 12px;
  font-weight: bolder;
}
.fohe{
  font-family: century-gothic;
  font-size: 20px;
  margin-top: 15px;
}

.text{
  font-size: 14px;
}

.devider{
  margin-left: 20px;
}

.facebook{
  margin-left: 30px;
}

.twitter{
  margin-left: 50px;
}
.bol{
  margin-top: 80px;
}

.fool{
  margin-top: 80px;
  display: inline;
}
.fool2{
  margin-top: 80px;
  display: inline;
  margin-left: 50px;
}
.l1{
  display: inline;
}

.l12{
  display: inline;
  margin-left: 35px;
}

.l2{
  display: inline;
}

.l22{
  display: inline;
  margin-left: 30px;
}

.l3{
  display: inline;
}

.l32{
  display: inline;
  margin-left: 95px;
}

.l4{
  display: inline;
}

.l42{
  display: inline;
  margin-left: 90px;
}
